html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    overflow: auto;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.ui.header:first-child {
    margin-top: -0em;
}

.truncate {
    width: calc(100% - 196px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ui.fluid.dropdown {
    display: block;
    width: 100%;
    min-width: 0em;
    box-shadow: none!important;
    font-family: 'Minecraftia';
    backdrop-filter: blur(5px)!important;
    background: rgba(17, 19, 33, 0.9) !important;
    border: 2px solid rgba(255, 255, 255, 0.14) !important;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/fonts/MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftiaRegular';
    src: url('/fonts/MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ui.negative.message {
    background-color: #ff020217!important;
    color: #9f3a38!important;
}

.ui.warning.message {
    background-color: #ff95001f!important;
    color: #ff7a00!important;
}

.ui.menu .dropdown.item .menu {
    background: rgba(16, 19, 34, 0.88)!important;
    z-index: 111111!important;
    border: rgba(255, 255, 255, 0.3) 2px solid !important;
}

.ui.menu .dropdown.item .menu>.item:hover {
    color: #ffffff!important;
}

.marged {
    margin-top: 1em!important;
}

.ui.top.sidebar.topped {
    top: 54px!important;
    bottom: auto!important;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    border-top: 2px solid rgba(255, 255, 255, 0.16) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.14) !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui.floating.label.inventory-item {
    position: absolute;
    top: auto!important;
    left: auto!important;
    background: none;
    margin: -4.5em 5em 4em -1em !important;
}

.ui.menu .item:before {
    width: 0px!important;
    background: none!important;
}
.bordered.item {
    margin: 2px;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    border: 2px solid rgba(255, 255, 255, 0);
}

.market {
    background-color: rgba(0, 255, 243, 0.24) !important;
}

.market:hover {
    background-color: rgba(0, 255, 243, 0.18) !important;
}

.market:active {
    background-color: rgba(0, 255, 243, 0.32) !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #000000c7!important;
    font-family: 'Minecraftia';
    backdrop-filter: blur(5px)!important;
    background: rgba(0, 0, 0, 0.8)!important;
}

.bordered.item:hover .label {
    background: rgba(0,0,0, 0.79);
}

.bordered.item:hover {
    border: 2px solid rgba(255, 255, 255, 0.16) !important;
}

.leftIcon {
    margin-left: -1em!important;
    margin-right: 1em!important;
    margin-top: 0.1em!important;
}

.rightIcon {
    margin-left: 1em!important;
    margin-right: -1em!important;
    margin-top: 0.1em!important;
}

@media screen and (max-width: 600px) {
    .hidden-on-mobile {
        visibility: hidden;
        display: none;
    }
    .leftIcon {
        margin-left: 0em!important;
        margin-right: 1em!important;
    }
    .rightIcon {
        margin-left: 1em!important;
        margin-right: 0em!important;
    }

}

.bordered.item:active {
    border: 2px solid rgba(255, 255, 255, .8) !important;
}
.bordered-item {
    border: 2px solid rgba(255, 255, 255, 0)!important;
}
.bordered-item:hover {
    border: 2px solid rgba(255, 255, 255, 0.26)!important;
}
.bordered-item:active {
    border: 2px solid rgba(255, 255, 255, 0.26)!important;
}

.ui.inverted.menu.bordered .active.item {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff !important;
    border: 2px solid rgba(255, 255, 255, 0.26)!important;
}

.ui.items > .item > .content > .header {
    color: rgba(255, 255, 255, 0.85)!important;
}

.ui.items > .item > .content > .meta {
    color: rgba(255, 255, 255, 0.85)!important;
}

.ui.items > .item > .content > .description {
    color: rgba(255, 255, 255, 0.85)!important;
}

.ui.items > .item > .content > .extra {
    color: rgba(255, 255, 255, 0.85)!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #14101f!important;
}

.visible.transition.event {
    display: flex!important;
    visibility: visible!important;
}

.ui.modal .header {
    border-bottom: 2px solid rgba(255, 255, 255, 0)!important;
}

.ui.modal .actions {
    border-top: 2px solid rgba(255, 255, 255, 0)!important;
}

.ui.form textarea.inverted {
    background: rgba(255, 255, 255, 0)!important;
    border: 1px solid rgba(34, 36, 38, 0.15)!important;
    color: rgba(255, 255, 255, 0.87)!important;
}

.ui.form.inverted input[type="text"]:focus {
    color: rgba(255, 255, 255, 0.87)!important;
}

.ui.form.inverted input[type="text"] {
    color: rgba(255, 255, 255, 0.87)!important;
}

.ui.toggle.checkbox input:checked ~ label {
    color: rgba(255, 255, 255, 0.95) !important;
}

main {
    flex: 1;
    color: #fff!important;
}

i.inverted.icon {
    color: #ffffff!important;
}

.border-two {
    border: rgba(255, 255, 255, 0.12) 2px solid !important;
    color: #ffffff!important;
}

.border-three {
    border: 2px solid rgba(255, 255, 255, 0.25) !important;
}

.ui.toggle.checkbox input ~ .box, .ui.toggle.checkbox input ~ label {
    color: rgba(255, 255, 255, 0.95) !important;
}

.ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label {
    color: rgba(255, 255, 255, 0.95) !important;
}

.ui.inverted.feed > .event > .content .date {
    color: rgba(255, 255, 255, 0.4);
}

.ui.inverted.menu .active.item {
    background: rgba(255, 255, 255, 0.08);
    color: #ffffff !important;
}

.ui.inverted.feed > .event > .content .summary {
    color: rgba(255, 255, 255, 0.87);
}

.hidden, #control-wrapper-marker {
    display: none;
}

* {
    border-radius: 0px!important;
}

.ui.overlay.sidebar {
    z-index: 100!important;
}

.ui.menu .item:before {
    width: 0px!important;
}

.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .10s;
}

.fade-enter-active {
    transition-delay: .10s;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.blurred {
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(242, 242, 242, 0.8)!important;
}

.second.blurred {
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(242, 242, 242, 0.6)!important;
}


.translucent.segment {
    box-shadow: none!important;
    background: transparent!important;
}

.inverted.second.blurred {
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(17, 19, 33, 0.9) !important;
}

.inverted.third.blurred {
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(17, 19, 33, 0.9) !important;
}

input, textarea {
    box-shadow: none!important;
    font-family: 'Minecraftia';
    backdrop-filter: blur(5px)!important;
    background: rgba(17, 19, 33, 0.9) !important;
    border: 2px solid rgba(255, 255, 255, 0.14) !important;
}

input:active, textarea:active {
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(17, 19, 33, 0.9) !important;
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
}

input:focus, textarea:focus {
    color: #ffffff!important;
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(17, 19, 33, 0.7) !important;
    border: 2px solid rgba(255, 255, 255, 0.25) !important;
}

.inverted.blurred {
    box-shadow: none!important;
    backdrop-filter: blur(5px)!important;
    background: rgba(3, 1, 25, 0.9) !important;
}

.light {
    color: rgba(0, 0, 0, 0.34)!important;
}

.light:hover {
    color: rgba(0, 0, 0, 0.84)!important;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/fonts/MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftiaRegular';
    src: url('/fonts/MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ui {
    font-family: 'MinecraftiaRegular' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.boldcraft {
    font-family: 'MinecraftiaRegular' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.shadcraft {
    font-family: 'MinecraftiaRegular' !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: 1px 1px 1px #ffffff !important;
}

.shaft {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important;
    transition: text-shadow .25s ease-in-out !important;
    -moz-transition: text-shadow .25s ease-in-out !important;
    -webkit-transition: text-shadow .25s ease-in-out !important;
}

.shaft:hover {
    text-shadow: 2px 2px 15px #111 !important;
}

.padded {
    padding-top: 6.9em!important;
    padding-bottom: 8em!important;
}

.padded-low {
    padding-top: 5.4em!important;
    padding-bottom: 8em!important;
}

.padded-far {
    padding-top: 8.1em!important;
    padding-bottom: 8em!important;
}

.marged {
    margin-top: 4.4em!important;
    margin-bottom: 4em!important;
}

@media only screen and (min-width: 750px) {
    .centered-menu {
        display: flex!important;
        justify-content: center!important;
    }
}

.img-icon {
    margin-bottom: 0.3em!important;
    height: 32px!important;
    width: 32px!important;
}

.disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.cen .item {
    margin: auto;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 600px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding-top: 2em!important;
    padding-bottom: 7.5em!important;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

#logo:hover svg:first-child {
    fill: #fff!important;
}

.texshad {
    text-shadow: 5px 5px 13px rgba(0, 0, 0, 0.8)!important; ;
    -webkit-text-shadow: 5px 5px 13px rgba(0, 0, 0, 0.8)!important; ;
    -moz-text-shadow: 5px 5px 13px rgba(0, 0, 0, 0.8)!important; ;
}

.button.texshad:hover {
    text-shadow: none!important; ;
    -webkit-text-shadow: none!important; ;
    -moz-text-shadow: none!important; ;
}

.bg {
    text-shadow: 5px 5px 13px rgba(0, 0, 0, 1) ;
    -webkit-text-shadow: 5px 5px 13px rgba(0, 0, 0, 1) ;
    -moz-text-shadow: 5px 5px 13px rgba(0, 0, 0, 1) ;
    width: 100%;
    height: 500px;
    overflow: hidden;

    background-color: #000033;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -ms-transition: background-color 3s ease-in-out 2s;
    -moz-transition: background-color 3s ease-in-out 2s;
    -webkit-transition: background-color 3s ease-in-out 2s;
    transition: background-color 3s ease-in-out 2s;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
.bg:after {
    position: absolute;
    z-index: -100;
    width: 135%;
    height: 200%;
    top: 10%;
    left: 0;
    content: '';
    opacity: 0.25!important;
    background:url('Minecraft_Items.jpg');
    background-position: right;

    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-animation-name: splash;
    -moz-animation-name: splash;
    -o-animation-name: splash;
    animation-name: splash;

    -ms-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    -moz-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    transition: opacity 3s ease-in-out, transform 5s ease-in-out;

    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    -ms-animation-duration: 25s;
    -o-animation-duration: 25s;
    animation-duration: 25s;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);
    -moz-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);
    transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);
}

@keyframes splash {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -941px;
    }

}

@-moz-keyframes splash {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -941px;
    }

}

@-webkit-keyframes splash {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -941px;
    }

}

@-ms-keyframes splash {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -941px;
    }
}

@-o-keyframes splash {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -941px;
    }

}
