{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  //  "parserOptions": {
  //    "parser": "babel-eslint"
  //  },
  "extends": [
    "@nuxtjs",
    "plugin:vue/essential",
//    "plugin:nuxt/recommended",
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "vue/no-textarea-mustache": 0,
    "no-path-concat": 0,
    "semi": [
      "error",
      "never"
    ]
  }
}
